
<div class="container">
  <h2 class="title">Conoce al equipo</h2>
  <div class="section__grid section__grid--team section__max">
    <%- include('../../partials/cards/card-team', {
      name: 'Luis Rovirosa',
      position: 'Back-end Developer',
      imageUrl: '/img/about-us/luis.jpg',
      twitterUrl: 'https://twitter.com/luisrovirosa',
      linkedinUrl: 'https://linkedin.com/in/luisrovirosa/',
      githubUrl: 'https://github.com/luisrovirosa'
    }) %>

    <%- include('../../partials/cards/card-team', {
      name: 'Jordi Anguela',
      position: 'Front-end Developer',
      imageUrl: '/img/about-us/jordi.jpg',
      twitterUrl: 'http://twitter.com/jordianguela',
      linkedinUrl: 'https://linkedin.com/in/jordianguela/',
      githubUrl: 'https://github.com/jordianguela'
    }) %>

    <%- include('../../partials/cards/card-team', {
      name: 'Hugo Chinchilla',
      position: 'Full-stack Developer',
      imageUrl: '/img/about-us/hugo.jpg',
      twitterUrl: 'https://twitter.com/hchinchilla_',
      linkedinUrl: 'https://linkedin.com/in/hugo-chinchilla-carbonell/',
      githubUrl: 'https://github.com/hugochinchilla'
    }) %>

    <%- include('../../partials/cards/card-team', {
      name: 'Jose Cabrera',
      position: 'Front-end Developer',
      imageUrl: '/img/about-us/jose.jpg',
      twitterUrl: 'https://twitter.com/11joselu',
      linkedinUrl: 'https://linkedin.com/in/11joselu/',
      githubUrl: 'https://github.com/11joselu'
    }) %>


    <%- include('../../partials/cards/card-team', {
      name: 'Raúl Jiménez',
      position: 'Full-stack Developer',
      imageUrl: '/img/about-us/raul.jpg',
      twitterUrl: 'https://twitter.com/rauljmz',
      linkedinUrl: 'https://www.linkedin.com/in/rauljmz/',
      githubUrl: 'https://github.com/rauljmz'
    }) %>

  </div>
  <div class="button__wrapper">
    <a href="#contactForm" class="button button--primary" type="button">
      Hablemos
    </a>
  </div>
</div>
