<i class="icon icon-menu header__icon" id="js-menu-button"></i>
<nav class="navbar" id="js-menu">
  <ul class="navbar__list">
    <% menu.forEach(function(item){ %>
      <li class="navbar__item <%= item.children ? 'dropdown' : ''  %> ">
        <% if (item.url) { %>
          <a href="<%= item.url %>"><%= item.title %></a>
        <% } else { %>
          <span><%= item.title %></span>
        <% } %>

        <% if (item.children) { %>
          <ul class="options">
            <% item.children.forEach(function(item){ %>
                <li class="navbar__item">
                  <a href="<%= item.url %>"><%= item.title %></a>
                </li>
              <% }); %>
          </ul>
        <% } %>

      </li>
    <% }); %>
  </ul>
</nav>
