<div id="faq" class="bg-color-light">
    <div class="container-fluid content-sm">
        {{ include('components/block_header.html.twig', { name: 'Preguntas frecuentes' }) }}

        <div class="row">
            {{ include('components/block_faq.html.twig', {
                question: '¿A quién va dirigido?',
                answer: [
                        'A todas aquellas empresas que quieran Dockerizar su servicios.',
                        'A aquellas empresas que quieran dar un salto de calidad en cómo gestionan su infraestructura.',
                        'A aquellos equipos que cada vez que despliegan en producción es un dolor para ellos y sus clientes.',
                        'A esos equipos que cada vez que incorporan un nuevo compañero éste tarda varios días en poder configurar todos los servicios de la empresa en su máquina.']
            }) }}
            {{ include('components/block_faq.html.twig', {
                question: '¿Cuál es el nivel del curso?',
                answer: [
                        'El curso está pensado para todos los niveles de Docker: desde los principiantes hasta los que usan Docker habitualmente.',
                        'El curso es muy intenso y práctico. Ha sido diseñado para que sea fácil de seguir por los asistentes, con muchas demostraciones y ejemplos de código.']
            }) }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/fundae.html.twig') }}
            {{ include('trainings/components/faq/team_building.html.twig') }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/flow.html.twig') }}
            {{ include('trainings/components/faq/alone.html.twig') }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/material.html.twig') }}
            {{ include('components/block_faq.html.twig', {
                question: 'Y después del curso, ¿qué?',
                answer: ['Los ejercicios realizados en el curso son específicos para aprender un concepto cada vez.
                        Durante nuestro día a día nos enfrentamos a problemas mucho más complejos y con un código en
                        mal estado.',
                        'Por ello, después del curso, ofrecemos acompañamiento para ayudarte Dockerizar tu servicios y
                        automatizar tus procesos en un servidor de Integración Continua.']
            }) }}
        </div>
    </div>
</div>
