<article class="card card--services" data-type="card-services">
  <div class="card__image card__image" data-type="card-services-image"></div>
  <span class="card__type card__type--<%= serviceType %>"><%= serviceType %></span>
  <section>
    <p class="small-title text--left" data-type="card-services-title"><%= title %></p>

    <article data-type="card-services-description" class="card--services__content">
      <%- description %>

      <ul class="information-wrapper">
        <% for(var i=0; i < (locals.icons || []).length; i++) {%>
          <li class="card__information text-dark-grey">
            <i class="icon <%= locals.icons[i].icon %>"></i>
            <div>
              <p class="card__information-text"><%= locals.icons[i].text %></p>
            </div>
          </li>
        <% } %>
      </ul>

      <div class="button__wrapper">
        <a href="#contactForm" class="button button--primary"
          data-role="button"
          data-type="<%= serviceType + ' ' +  title %>">
          ¡Me interesa!
        </a>
      </div>
    </article>
    <p class="text--left card__more-info" data-type="card-services-view-more"><span>Más información</span></p>
    <p class="text--center card__more-info hidden" data-type="card-services-view-less"> <span>Ver menos información</span></p>
  </section>
</article>
