<article class="card card--large">
  <div class="card__header">
    <img
      loading="lazy"
      width="200"
      height="180"
      src="<%= imageUrl %>"
      alt="<%= title %> illustration"
      class="card__image"
    />
  </div>
  <p class="card__title"><%= title %></p>
  <p class="card__text"><%= description %></p>
  <div class="card__footer">
    <a href="<%= btnUrl %>" class="button button--outline">
      ¿Quieres saber más?
    </a>
  </div>
</article>
