<article class="card card--large">
  <div class="card__header">
    <img
      width="200"
      height="180"
      loading="lazy"
      src="<%= imageUrl %>"
      alt="<%= title %> illustration"
      class="card__image"
    />
  </div>
  <p class="card__title"><%= title %></p>
  <p class="card__text"><%= description %></p>
  <div class="card__footer">
    <ul class="card__list">
      <% list.forEach(function(item){ %>
      <li><%= item %></li>
      <% }); %>
    </ul>
    <div>
      <a href="<%= buttonUrl %>" class="button button--outline">
        Más información
      </a>
    </div>
  </div>
</article>
