<article class="card card--personal">
  <div class="card__header">
    <div class="card__image-wrapper">
      <img
        width="150"
        height="150"
        loading="lazy"
        src="<%= imageUrl %>"
        alt="<%= name %> profile"
        class="card__image card__image--rounded"
      />
    </div>
  </div>
  <p class="card__title"><%= name %></p>
  <p class="card__professional"><%= position %></p>
  <div class="card__footer">
    <ul class="card__icons">
      <li class="card__icon">
        <a
          aria-label="Twitter de <%= name %>"
          href="<%= twitterUrl %>"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li class="card__icon">
        <a
          aria-label="LinkedIn de <%= name %>"
          href="<%= linkedinUrl %>"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <i class="icon icon-linkedin2"></i>
        </a>
      </li>
      <li class="card__icon">
        <a
          aria-label="Github de <%= name %>"
          href="<%= githubUrl %>"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <i class="icon icon-github"></i>
        </a>
      </li>
    </ul>
  </div>
</article>
