<div id="sobre-nosotros">
    <div class="flat-testimonials bg-image-v1 parallaxBg1 lazy" data-bg="../img/bg/11.jpg" style="background-position: 50% 241px;">
        <div class="container content-sm about-us">
            <div class="container content-sm">
                <div class="headline-center-v2 headline-light color-white margin-bottom-30">
                    <h2>Sobre nosotros</h2>
                    <span class="bordered-icon"><img data-src="/img/resources/codium-icon-white.svg" class="lazy"></span>
                    <p class="about-us-description">
                        En Codium somos un equipo con más de 15 años de experiencia profesional en desarrollo web y más de cinco años como formadores.
                        <br>
                        El objetivo de Codium es ayudar a las empresas a desarrollar un software <span
                                class="color-green">sostenible</span> de <span class="color-green">calidad</span>.
                        Enseñamos a programar mientras trabajamos codo a codo a tu lado.
                        Nos adaptamos al código existente, buscamos la simplicidad de las cosas y la manera de reparar
                        lo que no funciona para ofrecer <span class="color-green">resultados</span> que acerquen hacia
                        los objetivo.
                        En Codium trabajamos desde la honestidad y el respeto en el desarrollo de un software que se
                        adapte a las necesidades cambiantes.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {{ include('main/components/video.html.twig', { videoId: 'wqBfpbXBwfE' }) }}
                    </div>
                </div>
            </div>

            <div class="row text-center">
                {{ include('components/about_us_panel.html.twig', {
                    'name': 'Luis Rovirosa',
                    'image': '/img/about-us/luis.jpg',
                    'linkedIn' : 'http://linkedin.com/in/luisrovirosa/',
                    'twitter' : 'http://twitter.com/luisrovirosa',
                    'gitHub' : 'http://github.com/luisrovirosa',
                }) }}
                {{ include('components/about_us_panel.html.twig', {
                    'name': 'Jordi Anguela',
                    'image': '/img/about-us/jordi.jpeg',
                    'linkedIn' : 'http://linkedin.com/in/jordianguela/',
                    'twitter' : 'http://twitter.com/jordianguela',
                    'gitHub' : 'http://github.com/jordianguela',
                }) }}
                {{ include('components/about_us_panel.html.twig', {
                    'name': 'Raúl Jiménez',
                    'image': '/img/about-us/raul.jpeg',
                    'linkedIn' : 'https://www.linkedin.com/in/rauljmz/',
                    'twitter' : 'https://twitter.com/rauljmz',
                    'gitHub' : 'https://github.com/rauljmz',
                }) }}
                {{ include('components/about_us_panel.html.twig', {
                    'name': 'Concha Asensio',
                    'image': '/img/about-us/concha.jpg',
                    'linkedIn' : 'http://linkedin.com/in/conchaasensio/',
                    'twitter' : 'http://twitter.com/conchaasensio',
                    'gitHub' : 'http://github.com/conchaasensio',
                }) }}
                {{ include('components/about_us_panel.html.twig', {
                    'name': 'Hugo Chinchilla',
                    'image': '/img/about-us/hugo.jpeg',
                    'linkedIn' : 'http://linkedin.com/in/hugo-chinchilla-carbonell/',
                    'twitter' : 'http://twitter.com/hchinchilla_',
                    'gitHub' : 'http://github.com/hugochinchilla',
                }) }}
                {{ include('components/about_us_panel.html.twig', {
                    'name': 'Jose Cabrera',
                    'image': '/img/about-us/jose.png',
                    'linkedIn' : 'https://www.linkedin.com/in/11joselu/',
                    'twitter' : 'https://twitter.com/11joselu',
                    'gitHub' : 'https://github.com/11joselu',
                }) }}
            </div>
        </div><!--/end container-->
    </div>
</div>
