<div id="sobre-nosotros">
    <div class="flat-testimonials bg-image-v1 parallaxBg1 lazy" data-bg="../img/bg/11.jpg" style="background-position: 50% 241px;">
        <div class="container content-sm about-us">
            <div class="headline-center-v2 headline-light color-white margin-bottom-30">
                <h2>Sobre nosotros</h2>
                <span class="bordered-icon"><img data-src="/img/resources/codium-icon-white.svg" class="lazy"></span>
                <p class="about-us-description">
                    En Codium somos un equipo con más de 15 años de experiencia profesional en desarrollo web y más de cinco años como formadores.
                    <br>
                    El objetivo de Codium es ayudar a las empresas a desarrollar un software <span
                            class="color-green">sostenible</span> de <span class="color-green">calidad</span>.
                    Enseñamos a programar mientras trabajamos codo a codo a tu lado.
                    Nos adaptamos al código existente, buscamos la simplicidad de las cosas y la manera de reparar
                    lo que no funciona para ofrecer <span class="color-green">resultados</span> que acerquen hacia
                    los objetivo.
                    En Codium trabajamos desde la honestidad y el respeto en el desarrollo de un software que se
                    adapte a las necesidades cambiantes.
                </p>
            </div>

            <div class="row text-center">
                {{ include('components/team/luis.html.twig') }}
                {{ include('components/team/jordi.html.twig') }}
                {{ include('components/team/raul.html.twig') }}
                {{ include('components/team/concha.html.twig') }}
                {{ include('components/team/hugo.html.twig') }}
                {{ include('components/team/jose.html.twig') }}

            </div>
        </div><!--/end container-->
    </div>
</div>
