<div id="clientes" class="bg-color-light">
    <div class="container content-sm no-padding-bottom">
        <div class="headline-center-v2 headline-center-v2-dark">
            <h2>Clientes</h2>
            <span class="bordered-icon"><img src="img/favicons/favicon-16x16.png"></span>
        </div>

        <!-- Portfolio Sorting Blocks -->
        <div class="sorting-block">
            <div class="content-xs">
                <div class="sorting-nav sorting-nav-v1 text-center">
                    <a class="filter btn-u btn-brd btn-brd-hover rounded"
                       data-filter="category_training">Formación</a>
                    <a class="filter btn-u btn-brd btn-brd-hover rounded" data-filter="category_coaching">Acompañamiento</a>
                    <a class="filter btn-u btn-brd btn-brd-hover rounded" data-filter="category_development">Desarrollo</a>
                </div>
            </div>

            <ul class="row sorting-grid">
                {{ include('main/component/client_image.html.twig', {
                    name: "Ironhack",
                    description: "Formación jQuery en Barcelona and Madrid",
                    image: "/img/clients/ironhack.png",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Hotelbeds",
                    description: "Formación en TDD",
                    image: "/img/clients/hotelbeds.jpg",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Logitravel",
                    description: "Formación en Working with legacy code + Formación en TDD",
                    image: "/img/clients/logitravel.png",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "UST Global",
                    description: "Formación en TDD",
                    image: "/img/clients/ustglobal.jpg",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Idiada",
                    description: "Formación en buenas prácticas de Front-end + Desarrollos Java Full-stack",
                    image: "/img/clients/idiada.jpg",
                    categories: "category_training category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Schibsted",
                    description: "Formación en TDD",
                    image: "/img/clients/schibsted.png",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Habitissimo",
                    description: "Formación en TDD",
                    image: "/img/clients/habitissimo.png",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "TV3",
                    description: "Formación en TDD + Acompañamiento en PHP y cliclo de vida del desarrollo",
                    image: "/img/clients/ccma.jpg",
                    categories: "category_coaching category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Generali",
                    description: "Desarrollo de aplicaciones basadas en procesos + Formación avanzada de integración de BonitaBPM",
                    image: "/img/clients/generali.jpg",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Decathlon",
                    description: "Consultoría en historias de usuario y código legado",
                    image: "/img/clients/decathlon.png",
                    categories: "category_coaching"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Bankinter",
                    description: "Consultoría en buenas prácticas de desarrollo y cíclo de vida del desarrollo de software.",
                    image: "/img/clients/bankinter.jpg",
                    categories: "category_coaching"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "TalentClue",
                    description: "Formación en TDD, BDD y Front-end + Acompañamiento en buenas práctica de desarrollo + Desarrollo en Angular y PHP",
                    image: "/img/clients/talentclue.png",
                    categories: "category_training category_coaching category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Global O2",
                    description: "Due diligence técnica y asesoramiento tecnológico.",
                    image: "/img/clients/globalo2.jpg",
                    categories: "category_coaching"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Meta 4",
                    description: "Consultoría en TDD.",
                    image: "/img/clients/meta4.png",
                    categories: "category_coaching"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Coches.com",
                    description: "Formación en TDD",
                    image: "/img/clients/coches.com.png",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Oesia",
                    description: "Formación en TDD",
                    image: "/img/clients/oesia.png",
                    categories: "category_training"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Bonitasoft",
                    description: "Formador oficial + Desarrollo de conectores para integrar con múltiples servicios y plugins maven",
                    image: "/img/clients/bonitasoft.png",
                    categories: "category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Avanza en tu carrera",
                    description: "Arquitectura y desarrollo en PHP.",
                    image: "/img/clients/avanzaentucarrera.gif",
                    categories: "category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Canoe",
                    description: "Acompañamiento de stack tecnológico + Integraciones de back-end con dropbox y frontend en Angular",
                    image: "/img/clients/canoe.png",
                    categories: "category_coaching category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "La huella",
                    description: "Desarrollo en React y Javascript.",
                    image: "/img/clients/lahuella.png",
                    categories: "category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Deutche Telekom",
                    description: "Desarrollo front-end en Angular",
                    image: "/img/clients/deutschetelekom.jpg",
                    categories: "category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Inditex",
                    description: "Arquitectura y desarrollo en PHP",
                    image: "/img/clients/inditex.png",
                    categories: "category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Lobster",
                    description: "Arquitectura y desarrollo front-end en React y Flux",
                    image: "/img/clients/lobster.jpg",
                    categories: "category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "IRC Hispano",
                    description: "Desarrollo front-end en Angular e Ionic",
                    image: "/img/clients/irchispano.jpg",
                    categories: "category_development"
                }) }}
                {{ include('main/component/client_image.html.twig', {
                    name: "Wouzee",
                    description: "Arquitectura y desarrollo en PHP",
                    image: "/img/clients/wouzee.jpg",
                    categories: "category_development"
                }) }}
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Portfolio Sorting Blocks -->
    </div>
</div>
