<div id="clientes" class="bg-color-light">
    <div class="container content-sm no-padding-bottom">
        {{ include('components/block_header.html.twig', { name: 'Clientes' }) }}

        <!-- Portfolio Sorting Blocks -->
        <div class="sorting-block">
            <ul class="row">
                {{ include('main/components/client_image.html.twig', {
                    name: "Habitissimo",
                    description: "Formación y desarrollo de producto",
                    image: "/img/clients/habitissimo.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Vicomtech",
                    description: "Formación personalizada",
                    image: "/img/clients/vicomtech.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Roiback",
                    description: "Formación y Acompañamiento",
                    image: "/img/clients/roiback.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Hotelbeds",
                    description: "Múltiples formaciones de TDD y Legacy Code",
                    image: "/img/clients/hotelbeds.jpg",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "TalentClue",
                    description: "Formación y desarrollo de producto",
                    image: "/img/clients/talentclue.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Rideo",
                    description: "Desarollo de producto",
                    image: "/img/clients/rideo.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "General Electric",
                    description: "Formación y Acompañamiento",
                    image: "/img/clients/ge.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Global O2",
                    description: "Due diligence técnica y asesoramiento tecnológico.",
                    image: "/img/clients/globalo2.jpg",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Avoris",
                    description: "Formación en TDD",
                    image: "/img/clients/avoris.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Logitravel",
                    description: "Formación en Working with legacy code + Formación en TDD",
                    image: "/img/clients/logitravel.png",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "Editorial Vicens Vives",
                    description: "Formación en TDD",
                    image: "/img/clients/vicensvives.jpg",
                }) }}
                {{ include('main/components/client_image.html.twig', {
                    name: "La huella",
                    description: "Desarrollo en React y Javascript.",
                    image: "/img/clients/lahuella.png",
                }) }}
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Portfolio Sorting Blocks -->
    </div>
</div>
