<div id="desarrollo">
    <div class="container content-sm" id="effect-2">
        {{ include('components/extended_block_header.html.twig', {
            name: 'Desarrollo de un MVP',
            summary: '<p>Si eres un emprendedor con una idea de negocio, ganas, voluntad
             y recursos para llevarla a cabo pero te falta a un socio tecnológico:
             Codium es tu equipo.
             Trabajamos contigo para destilar la esencia de la idea de negocio y poner en producción el mínimo
             producto viable para que puedas validarla.</p>'
        }) }}

        <div class="row margin-bottom-50 margin-top-60">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-3">
                        <ul class="list-inline our-clients">
                            {{ include('main/components/technology_image.html.twig', { name: "JavaScript", image: "/img/development/javascript.png"}) }}
                            {{ include('main/components/technology_image.html.twig', { name: "Angular", image: "/img/development/angular.svg"}) }}
                            {{ include('main/components/technology_image.html.twig', { name: "React", image: "/img/development/react.svg"}) }}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <ul class="list-inline our-clients">
                            {{ include('main/components/technology_image.html.twig', { name: "PHP", image: "/img/development/php.png"}) }}
                            {{ include('main/components/technology_image.html.twig', { name: "Symfony", image: "/img/development/symfony.png"}) }}
                            {{ include('main/components/technology_image.html.twig', { name: "NodeJS", image: "/img/development/nodejs.png"}) }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>¿Qué recibirás si nos contratas?</h3>
                <p>En el plazo de 1 a 3 meses transformaremos tu idea de negocio en un MVP que te permita
                    validarla. Si tus hipótesis iniciales se cumplen y tu idea de negocio tiene éxito,
                    podrás buscar una ronda de financiación para montar un equipo de desarrollo para
                    explotar todo el potencial de tu producto.</p>
                <h3>¿Por qué contar con Codium para este primera fase?</h3>
                <ul class="list-inline our-clients">
                    <li>Porque buscas a alguien con garantías para ejecutarla</li>
                    <li>Porque te ayudaremos a simplificar y sólo invertir en aquello que realmente importa</li>
                    <li>Porque desarrollamos software flexible a cambios</li>
                    <li>Porque programamos con calidad y pruebas automáticas</li>
                    <li>Porque quieres una experiencia de usuario impecable</li>
                    <li>Porque te entregamos valor cada 2 semanas</li>
                    <li>Porque sólo pagas por software entregado</li>
                </ul>

            </div>
        </div><!--/end row-->

        <div class="row">
            {{ include('main/components/contact_us_button.html.twig', { actionName: 'Desarrollo back-end'}) }}
        </div>
    </div>
</div>
