<div id="desarrollo">
    <div class="container content-sm" id="effect-2">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>Desarrollo Web</h2>
            <span class="bordered-icon"><img src="/img/favicons/favicon-16x16.png"></span>
            <p>Contacta con nosotros si quieres desarrollar una aplicación completa, un módulo de tu aplicación, una
                integración con un servicio externo o mejorar el rendimiento y la escalabilidad de tu
                aplicación.</p>
        </div><!--/Headline Center v2-->

        <div class="row margin-bottom-50">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-3">
                        <ul class="list-inline our-clients">
                            {{ include('main/component/technology_image.html.twig', { name: "JavaScript", image: "/img/development/javascript.png"}) }}
                            {{ include('main/component/technology_image.html.twig', { name: "Angular", image: "/img/development/angular.svg"}) }}
                            {{ include('main/component/technology_image.html.twig', { name: "React", image: "/img/development/react.svg"}) }}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <ul class="list-inline our-clients">
                            {{ include('main/component/technology_image.html.twig', { name: "PHP", image: "/img/development/php.png"}) }}
                            {{ include('main/component/technology_image.html.twig', { name: "Symfony", image: "/img/development/symfony.png"}) }}
                            {{ include('main/component/technology_image.html.twig', { name: "NodeJS", image: "/img/development/nodejs.png"}) }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Desarrollar una aplicación o módulo</h3>
                <p>Desarrollamos el front-end rico usando Angular o React. En el back-end exponemos una API
                    programada con Symfony o NodeJS.</p>
                <p>Mediante una comunicación estrecha buscamos llegar a la raíz del problema para encontrar las
                    soluciones más simples para obtener unos resultados más satisfactorios.</p>
                <p>Trabajamos en sprints de dos semanas. Al principio de cada sprint nos centramos en definir qué es
                    lo que más valor aporta al siguiente desarrollo.</p>
                <p>Garantizamos que la aplicación se comporta como se espera mediante tests automáticos que reducen
                    los costes de mantenimiento. De esta forma nos aseguramos de que se puede añadir funcionalidad
                    sin miedo a que deje de funcionar lo que ya se ha entregado.</p>
            </div>
        </div><!--/end row-->

        <div class="row margin-bottom-50">
            <div class="col-md-6">
                <h3>Desarrollo de integraciones</h3>
                <p>Servicios de terceros: Google, Dropbox, Slack, Twitter, Amazon...</p>
                <p>Seguridad: Single sign-on, OAuth, LDAP, Active Directory y ACL</p>
                <br/>
                <h3>Mejorar el rendimiento</h3>
                <p>Análisis en profundidad para detectar de cuellos de botella</p>
                <p>Optimización de queries, índices y tablas en bases de datos</p>
                <p>Acelerar el acceso a datos mediante cachés</p>
                <p>Prevenir incidencias mediante la correcta monitorización del sistema</p>
                <p>Realizar las tareas más costosas de forma asíncrona utilizando colas</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <ul class="list-inline our-clients">
                        {{ include('main/component/technology_image.html.twig', { name: "Docker", image: "/img/development/docker.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "Amazon", image: "/img/development/amazon.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "Google", image: "/img/development/google.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "Twitter", image: "/img/development/twitter.png"}) }}
                    </ul>
                </div>
                <div class="row">
                    <ul class="list-inline our-clients">
                        {{ include('main/component/technology_image.html.twig', { name: "Nginx", image: "/img/development/nginx.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "Redis", image: "/img/development/redis.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "Solr", image: "/img/development/solr.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "RabbitMQ", image: "/img/development/rabbitmq.png"}) }}
                    </ul>
                </div>
                <div class="row">
                    <ul class="list-inline our-clients">
                        {{ include('main/component/technology_image.html.twig', { name: "NewRelic", image: "/img/development/newrelic.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "Blackfire", image: "/img/development/blackfire.png"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "JMeter", image: "/img/development/jmeter.jpg"}) }}
                        {{ include('main/component/technology_image.html.twig', { name: "SonarQube", image: "/img/development/sonarqube.png"}) }}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center page-scroll">
                <a href="#contacto" class="btn-u" onclick="setContactAction('Desarrollo back-end')">Contáctanos</a>
            </div>
        </div>
    </div>
</div>
