 <div class="card course__information-wrapper">
   <h2 class="subtitle">Información</h2>
   <div class="card__content">
     <div class="course__information">
       <i class="icon icon-hourglass"></i>
       <div>
         <p class="course__information-text"><%= hours  %> </p>
         <p class="course__information-desc"><%= hoursDesc  %> </p>
       </div>
     </div>
     <div class="course__information">
       <i class="icon icon-location"></i>
       <p class="course__information-text"><%= fromWhere  %> </p>
     </div>
     <div class="course__information">
       <i class="icon icon-embed2"></i>
       <p class="course__information-text">
         <%= languages  %>
       </p>
     </div>
     <div class="course__information">
       <i class="icon icon-language"></i>
       <p class="course__information-text"><%= availableInLanguages  %> </p>
     </div>
     <% if (locals.price) { %>
      <div class="course__information">
        <i class="icon icon-coin-euro"></i>
        <div>
          <p class="course__information-text">
            <%= price  %>
          </p>
          <p class="course__information-desc">Bonificable por FUNDAE</p>
        </div>
      </div>
    <% } %>
     <div class="button__wrapper">
       <a href="#contactForm" class="button button--primary" data-trackevent="contact_us.show_form.course_info-summary">
         ¡Me interesa!
       </a>
     </div>
   </div>
 </div>
