<div class="container">
  <h1 class="title text-center">Talleres</h1>
  <p class="text--summary text-center">The path of the righteous man is beset on all sides by the iniquities of the
    selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak
    through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.</p>
  <section class="information-wrapper">
    <%- include('../../partials/cards/card-services', {
        title: 'Clean code',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

    <%- include('../../partials/cards/card-services', {
        title: 'Orientación a objetos',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

    <%- include('../../partials/cards/card-services', {
        title: 'Aprende a utilizar el VisualStudio de forma eficiente',
        description: `
          <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

    <%- include('../../partials/cards/card-services', {
        title: 'Aprende a utilizar el IntelliJ de forma eficiente',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'SOLID',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Unit testing',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Feature flags',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

       <%- include('../../partials/cards/card-services', {
        title: 'Front-end testing',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Js',
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Elephant carpaccio',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Composición sobre herencia',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'CRC cards',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Evolución desde código legacy - Bubble context with Anticorruption Layer',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Parallel change',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Consumer-Driven Contract',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Desacoplar la vista y la lógica de negocio',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Tests de integración',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>

      <%- include('../../partials/cards/card-services', {
        title: 'Cómo desacoplar vuestro modelo de la BD',
        description: `
            <p class="text-dark-grey text--left">
            EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
            one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
            shanty structures
          </p>
        `,
        serviceType: 'Taller',
          icons: [
          {
            icon: 'icon-embed2',
            text: 'Java, Python, Js, PHP, C#, C++, ...'
          },
          {
            icon: 'icon-location',
            text: 'Remoto o presencial'
          },
          {
            icon: 'icon-language',
            text: 'Español, inglés y catalán'
          },
        ]
      }) %>
  </section>
</div>
