<div class="col-md-4">
    <div class="about-us-panel md-margin-bottom-50">
        <img alt="" src="{{ image }}" class="rounded-x img-responsive lazy">
        <h3>{{ name }}</h3>
        <ul class="list-inline team-social">
            <li>
                <a data-placement="top" data-toggle="tooltip" class="li white tooltips" data-original-title="LinkedIn" href="{{ linkedIn }}" onclick="socialNetwork({{ name }}, 'LinkedIn')" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips" data-original-title="Twitter" href="{{ twitter }}" onclick="socialNetwork({{ name }}, 'Twitter')" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips" data-original-title="Github" href="{{ gitHub }}" onclick="socialNetwork({{ name }}, 'GitHub')" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
