
<div class="container">
  <h2 class="title">Cursos disponibles</h2>
  <div class="section__grid section__grid--trainings trainings">
    <%- include('../../partials/cards/card-large-course', {
      title: 'Working with Legacy Code',
      description: 'Reduce los costes de desarrollo y mantenimiento desacoplando y testeando.',
      imageUrl: '/img/legacy-code.svg',
      buttonUrl: '/curso-legacy-code.html',
      list: [
        'Identifica y soluciona problemas en el código',
        'Mejora el código desacoplando las dependencias',
        'Cambia el software con seguridad gracias a los tests',
        'Diseña una estrategia de testing efectiva y barata de mantener'
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Test-driven development',
      description: 'Desarrolla software adaptable, con calidad y de forma simple.',
      imageUrl: '/img/tdd-logo.svg',
      buttonUrl: '/curso-tdd.html',
      list: [
        'Aprende los beneficios de TDD',
        'Evita los problemas más frecuentes en la creación de los tests',
        'Testea sin acoplamiento con los dobles de pruebas',
        'Descubre la tranquilidad del código bien testeado'
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Refactoring a Patrones',
      description: 'Mejora el diseño de tu código usando patrones de diseño.',
      imageUrl: '/img/refactoring-to-patterns.svg',
      buttonUrl: '/curso-refactoring-a-patrones.html',
      list: [
        'Aprende buenas soluciones a problemas recurrentes',
        'Crea código flexible, mantenible y reutilizable',
        'Refactoriza un código en mal estado evitando la sobreingeniería',
        'Saca partido al IDE para que el refactor se más sencillo',
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Docker',
      description: 'Simplifica la gestión de la infraestructura.',
      imageUrl: '/img/moby-logo.svg',
      buttonUrl: '/curso-docker.html',
      height: 130,
      list: [
        'Elimina el famoso \'en mi máquina funciona\'',
        'Habilita que todo tu equipo pueda construir y mantener las imágenes',
        'Evita los problemas de seguridad al crear imágenes',
        'Mejora tus procesos de Integración Continua automatizando el despliegue'
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Quality Assurance',
      description: 'Automatiza las validaciones de tu web.',
      imageUrl: '/img/qa-quality-v2.svg',
      buttonUrl: '/curso-quality-assurance.html',
      height: 180,
      list: [
        'Automatiza pruebas repetitivas y monótonas',
        'Potencia tus habilidades de QA aprendiendo las bases y fundamentos del testing',
        'Ahorra tiempo y obtén feedback más rápido al automatizar pruebas manuales',
        'Mejora la experiencia de desarrollo con tests que detectarán errores con mayor precisión'
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Taller de Frontend online',
      description: 'Testeando legacy code. De e2e a unitario.',
      imageUrl: '/img/online-workshop.svg',
      buttonUrl: 'https://online-trainings.codium.team',
      height: 180,
      list: [
        'Automatiza pruebas con tests e2e y cypress',
        'Refactoriza tu código para separar la lógica de negocio y presentación',
        'Aprende a escribir tests unitarios rápidos siguiendo el acrónimo FIRST',
        'Desarrolla la nueva funcionalidad haciendo TDD'
      ]
    }) %>
  </div>
</div>
