<div class="container">
    <h2 class="title"><%- __('Potencia las habilidades de tu equipo') %></h2>
    <div class="section__grid section__grid--trainings trainings">
        <%- include('../../partials/cards/card-large-course', {
            title: __('Working with Legacy Code'),
            description: __('Reduce los costes de desarrollo y mantenimiento desacoplando y testeando.'),
            imageUrl: '/img/legacy-code.svg',
            buttonUrl: url('/curso-legacy-code.html'),
            list: [
                __('Identifica y soluciona problemas en el código'),
                __('Mejora el código desacoplando las dependencias'),
                __('Cambia el software con seguridad gracias a los tests'),
                __('Diseña una estrategia de testing efectiva y barata de mantener')
            ]
        }) %>

        <%- include('../../partials/cards/card-large-course', {
            title: __('Test-driven development'),
            description: __('Desarrolla software adaptable, con calidad y de forma simple.'),
            imageUrl: '/img/tdd-logo.svg',
            buttonUrl: url('/curso-tdd.html'),
            list: [
                __('Aprende los beneficios de TDD'),
                __('Evita los problemas más frecuentes en la creación de los tests'),
                __('Testea sin acoplamiento con los dobles de pruebas'),
                __('Descubre la tranquilidad del código bien testeado')
            ]
        }) %>

        <%- include('../../partials/cards/card-large-course', {
            title: __('Refactoring a Patrones'),
            description: __('Mejora el diseño de tu código usando patrones de diseño.'),
            imageUrl: '/img/refactoring-to-patterns.svg',
            buttonUrl: url('/curso-refactoring-a-patrones.html'),
            list: [
                __('Aprende buenas soluciones a problemas recurrentes'),
                __('Crea código flexible, mantenible y reutilizable'),
                __('Refactoriza un código en mal estado evitando la sobreingeniería'),
                __('Saca partido al IDE para que el refactor se más sencillo',)
            ]
        }) %>

        <%- include('../../partials/cards/card-large-course', {
            title: __('Docker'),
            description: __('Simplifica la gestión de la infraestructura.'),
            imageUrl: '/img/moby-logo.svg',
            buttonUrl: url('/curso-docker.html'),
            height: 130,
            list: [
                __('Elimina el famoso \'en mi máquina funciona\''),
                __('Habilita que todo tu equipo pueda construir y mantener las imágenes'),
                __('Evita los problemas de seguridad al crear imágenes'),
                __('Mejora tus procesos de Integración Continua automatizando el despliegue')
            ]
        }) %>

        <%- include('../../partials/cards/card-large-course', {
            title: __('Quality Assurance'),
            description: __('Automatiza las validaciones de tu web.'),
            imageUrl: '/img/qa-quality-v2.svg',
            buttonUrl: url('/curso-quality-assurance.html'),
            height: 180,
            list: [
                __('Automatiza pruebas repetitivas y monótonas'),
                __('Potencia tus habilidades de QA aprendiendo las bases y fundamentos del testing'),
                __('Ahorra tiempo y obtén feedback más rápido al automatizar pruebas manuales'),
                __('Mejora la experiencia de desarrollo con tests que detectarán errores con mayor precisión')
            ]
        }) %>

        <%- include('../../partials/cards/card-large-course', {
            title: __('Taller de Frontend online'),
            description: __('Testeando legacy code. De e2e a unitario.'),
            imageUrl: '/img/online-workshop.svg',
            buttonUrl: 'https://online-trainings.codium.team',
            height: 180,
            list: [
                __('Automatiza pruebas con tests e2e y cypress'),
                __('Refactoriza tu código para separar la lógica de negocio y presentación'),
                __('Aprende a escribir tests unitarios rápidos siguiendo el acrónimo FIRST'),
                __('Desarrolla la nueva funcionalidad haciendo TDD')
            ]
        }) %>

        <%- include('../../partials/cards/card-large', {
            title: __('Aceleración técnica'),
            description: __('Quieres que tu equipo suba de nivel y/o formar a las nuevas incorporaciones de forma intensiva.'),
            imageUrl: '/img/illustrations/bootcamp.svg',
            buttonUrl: url('/programa-de-aceleracion.html')
            }) %>
    </div>
</div>
