<% var default_description = "Formamos a equipos de programación. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de diseño." %>
<% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
<% var default_og_image = host + "/img/meta-home.png" %>

<meta property="og:type" content="website">
<meta property="og:site_name" content="Codium">
<meta property="og:title" content="<%= locals.og_title || title || "Codium Team" %>">
<meta property="og:description" content="<%= locals.og_description || description || default_description %>">
<meta property="og:image" content="<%= locals.og_image || default_og_image %>">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.codium.team/">
<meta property="twitter:title" content="<%= locals.og_title || title || "Codium Team" %>">
<meta property="twitter:description" content="<%= locals.og_description || description || default_description %>">
<meta property="twitter:image" content="<%= locals.og_image || default_og_image %>">

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png" />
<link rel="manifest" href="./site.webmanifest" />
<link rel="icon" type="image/x-icon" href="./favicon.ico">
<title><%= title %></title>
<meta name="title" content="<%= title %>">
<meta charset="utf-8" />
<meta name="author" content="Codium Team S.L." />
<meta name="description" content="<%= description %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
