
<article class="container">
  <h2 class="text-center title text--summary"><t>Contenido del curso</t></h2>
  <p class="text-center text-dark-grey">
    <t>El temario está organizado en temáticas</t>
  </p>

  <div class="bootcamp">
    <%- include('../../partials/cards/card-bootcamp', {
      title: __('Mentalidad'),
      list: [
        __('eXtreme Programming'),
        __('Agile'),
        __('Lean'),
        __('Artesanía de software')
      ],
      image: './img/illustrations/bootcamp/lean.png'
    }) %>

    <%- include('../../partials/cards/card-bootcamp', {
      title: __('Herramientas'),
      list: [
        __('Conocer las herramientas que te hacen productivo.'),
        __('Conocer las herramientas que te permiten automatizar procesos repetitivos.')
      ],
      image: './img/illustrations/bootcamp/tools.png'
    }) %>

    <%- include('../../partials/cards/card-bootcamp', {
      title: __('Calidad de código'),
      list: [
        __('Escribir código fácil de entender y mantener.'),
        __('Aplicar patrones de diseño.'),
        __('Cómo crear una buena arquitectura')
      ],
      image: './img/illustrations/bootcamp/code-quality.png'
    }) %>

    <%- include('../../partials/cards/card-bootcamp', {
      title: __('Testing'),
      list: [
        __('Escribir buenos tests de diferentes tipos.'),
        __('Comprender las propiedades, beneficios de crear tests.'),
        __('Entender los costes de cada tipo de test.')
      ],
      image: './img/illustrations/bootcamp/testing.png'
    }) %>

    <%- include('../../partials/cards/card-bootcamp', {
      title: __('Producto'),
      list: [
        __('Entender que lo más importante es el valor aportado.'),
        __('Centrarnos en el problema a resolver, cómo impacta en el usuario, cómo aportar valor antes y cómo simplificar producto.'),
      ],
      image: './img/illustrations/bootcamp/product-win.png'
    }) %>

  </div>
</article>
<div class="button__wrapper">
  <a
    class="button button--primary"
    href="#contactForm"
    data-trackevent="contact_us.show_form.course_value"
  >
    <t>¡Me interesa!</t>
  </a>
</div>

