<div id="faq">
    <div class="container-fluid content-sm">
        {{ include('components/block_header.html.twig', { name: 'Preguntas frecuentes' }) }}

        <div class="row">
            {{ include('components/block_faq.html.twig', {
                question: '¿A quién va dirigido?',
                answer: [
                        'A equipos que hacen tests y quieren dar un salto de calidad.',
                        'A empresas que quieren tomarse en serio la calidad y seguir añadiendo funcionalidad a buena velocidad.',
                        'A programadores familiarizados con el testing y buenas prácticas de desarrollo.',
                        'El curso se centra en cómo testear la lógica de negocio independientemente de dónde se
                        encuentre, ya sea el back-end, front-end o móvil. Las personas de QA también pueden
                        beneficiarse del curso entendiendo el proceso de desarrollo y ayudando a escribir mejores
                        pruebas.']
            }) }}
            {{ include('components/block_faq.html.twig', {
                question: '¿Cuál es el nivel del curso?',
                answer: [
                        'El nivel del curso es avanzado. Está dirigido a personas que escriben tests con frecuencia.',
                        'Es un curso introductorio a Test-Driven Development.
                         El curso es intenso y cubrimos desde las partes más básicas como las pruebas unitarias a temas más complejos,
                        como los diferentes tipos de dobles de pruebas y problemas habituales cuando escribimos tests.',
                        'Al ser un curso muy práctico y con mucho debate permite que nos adaptemos al nivel de los
                        asistentes. Si ya has conoces algo de TDD durante el curso profundizarás en tus conocimientos
                        y aprenderás trucos más avanzados.',
                        'Este no es un curso diseñado para personas que aplican Test-Driven Development en su día a
                        día escribiendo sistemáticamente las pruebas unitarias antes de escribir el código.']
            }) }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/fundae.html.twig') }}
            {{ include('trainings/components/faq/team_building.html.twig') }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/flow.html.twig') }}
            {{ include('trainings/components/faq/alone.html.twig') }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/material.html.twig') }}
            {{ include('components/block_faq.html.twig', {
                question: '¿Y después del curso qué?',
                answer: ['Los ejercicios realizados en el curso son específicos para aprender un concepto cada vez.
                        Durante nuestro día a día nos enfrentamos a problemas mucho más complejos y con un código en
                        mal estado.',
                        'Por ello, después del curso, ofrecemos acompañamiento para ayudarte en la
                        implantación de Test-Driven Development en tu proyecto.']
            }) }}
        </div>
    </div>
</div>
