<div id="faq">
    <div class="container-fluid content-sm">
        {{ include('components/block_header.html.twig', { name: 'Preguntas frecuentes' }) }}

        <div class="row">
            {{ include('components/block_faq.html.twig', {
                question: '¿A quién va dirigido?',
                answer: ['A empresas que añaden funcionalidad muy lentamente y/o que tienen muchas incidencias.',
                    'A programadores back-end, front-end o móvil que trabajen con código legado.']
            }) }}
            {{ include('components/block_faq.html.twig', {
                question: '¿Cuál es el nivel del curso?',
                answer: ['El nivel del curso es intermedio.',
                        'Al ser un curso muy práctico y con mucho debate permite que nos adaptemos al nivel de los
                        asistentes.',
                        'Este curso lo aprovecharán menos aquellas personas con buenos conocimientos de orientación a objetos,
                         clean code y que escriban pruebas unitarias automatizadas diariamente.']
            }) }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/flow.html.twig') }}
            {{ include('trainings/components/faq/alone.html.twig') }}
        </div>
        <div class="row">
            {{ include('trainings/components/faq/material.html.twig') }}
            {{ include('components/block_faq.html.twig', {
                question: '¿Y después del curso qué?',
                answer: ['Los ejercicios realizados en el curso son específicos para aprender un concepto cada vez.',
                            'Durante nuestro día a día nos enfrentamos a problemas mucho más complejos y con un código en
                            peor estado.',
                            'Por ello, después del curso, ofrecemos acompañamiento a tu empresa para ayudar en la
                            transformación de tu legacy en algo mantenible.']
            }) }}
        </div>
    </div>
</div>